/* CSS styles for Touchstone@MIT ================= */
/* ISDA . Content & Collaboration Services . W92 ================= */

/* page sections 
================= */

*
{
	margin: 0;
	padding: 0;
}

ol, ul, dl { margin-left: 5em; }

body
{
	margin: 0;
	min-width: 31em;
	background: #777;
	font-family: "lucida sans", "lucida grande", arial, verdana, helvetica, sans-serif;
	line-height: 1.7;
	font-size: 12px;
	color: #3f3f3f;
}

strong, div.error, div.note, #timer { color: #000; }

#timer
{
	background: #ECF7DA;
	border: 1px solid #B2CD38;
	padding: 3px 7px;
}

#loginbox
{
	min-width: 50em;
	padding: 2em 5%;
	background: #fbfbfb;
	border: 1px solid #aaa;
	border-width: 2px 0 15px 0;
}

#mit-mast { padding: 0 5%; }

h1
{
	font-size: 275%;
	color: #ddd;
	border: 15px solid #777;
	margin-left: -20px;
	width: 55%;
	white-space: nowrap;
}

h1 span { color: #C7ECA2; }

h2, h3
{
	line-height: 1.2;
	margin: 3px 0;
}

h3
{
	border-bottom: 5px solid #eee;
	margin-top: 1.5em;
}

p { margin: 1em 0; }

#mit-mast ul
{
	background: #777;
	list-style: none;
	margin: -2em 0 0 0;
	text-align: right;
	border-bottom: 5px solid #555;
}

#mit-mast li { display: inline; }

#mit-mast li a
{
	padding: 5px;
	font-size: 105%;
	font-weight: 800;
}

#mit-mast li a:hover
{
	background: #fff;
	color: #933;
}

div.error, div.note
{
	border-left: 20px solid #f30;
	padding: 5px 12px;
	font-weight: 800;
	background: #F5FEAB;
	margin: 0.25em 0;
}

div.note
{
	border-left: 20px solid #7F9228;
	background: #ECF7DA;
}

div.helpbox ol { margin: 5px 0 5px 18px; }

div.helpbox div.note
{
	margin-left: -8px;
	border-left-width: 8px;
}

.aff_footer {
    height: 20%;
    padding: 0 5%;
    border-top: 12px solid #777;
}
.aff_footer_logo {
  width: 960px;
}
#footer-logo-holder {
  float: none;
  width: 260px;
  height: 48px;
  margin-bottom: 1.5%;
}
#MIT-footer-logo-small {
  width: 280px;
  height: 41px;
  float: left;
}
#MIT-footer-logo-small img {
  width: 100%;
  height: auto;
}
.aff_footer_logo .accessibility_mit {
}
.aff_footer_logo .accessibility_mit a {
}

a
{
	text-decoration: none;
	border-bottom: 1px dotted #8DB849;
	color: #ddd;
	padding: 1px 3px;
}

#loginbox a
{
	color: #405A25;
	background: #F2FCE0;
}

a:hover
{
	color: #000 !important;
	border-bottom: 1px solid #000;
}

#loginbox a:hover { background-color: #fff; }
a:active, a:focus { outline: none; }

/* login form and others
================= */

form
{
	margin: 1em 0;
	min-width: 45em;
	clear: both;
	border-bottom: 10px solid #fbfbfb;
}

fieldset
{
	border: 1px solid #ddd;
	border-color: #ddd #ccc #ccc #ddd;
	min-width: 25em;
	padding: 0 1em 1em 2em;
}

legend
{
	color: #933;
	font-weight: 800;
	font-size: 130%;
	padding: 2px 5px;
	margin-left: -20px;
}

input[type="checkbox"], input[type="radio"]
{
	margin-right: 8px;
	border: 0 !important;
}

input[type="text"], input[type="password"]
{
	padding: 3px 5px;
	border: 1px solid #777;
	border-color: #777 #555 #555 #777;
	background: #F6F9EE url("../images/fieldbg.gif") repeat-x top;
}

input:focus
{
	border: 1px solid #000;
	background-color: #fff;
}

input[type="submit"]
{
	border: 3px double #86B05D;
	border-color: #A7C687 #618938 #618938 #A7C687;
	background-color: #7DB047;
	color: #fff;
	padding: 2px 10px;
	font-size: 175%;
	margin-top: 12px;
}

label input[type="submit"]
{
	font-size: 120%;
	border-width: 1px;
	margin-top: -6px;
}

input[type="submit"]:hover
{
	border-color: #eeeee1 #555 #555 #eeeee1;
	background-color: #A7C687;
	color: #000;
}

label
{
	display: block;
	padding: 3px 0;
	margin-top: 5px;
}

label strong
{
	display: block;
	float: left;
	font-size: 110%;
	margin: 0 0.25em 0 0;
	width: 7em;
}

span.formHint
{
	white-space: nowrap;
	margin: 0 0 0 10px;
	font-size: 95%;
}

div.helpbox
{
	float: right;
	padding: 2px 5px 5px 12px;
	border: 1px solid #eee;
	width: 18em;
	line-height: 1.3;
	color: #444;
	position: relative;
	top: -1px;
	background: #fff;
	margin: 1.25em 0 0 2px;
	font-size: 98%;
}

div.helpbox a { padding: 0 !important; }
code { font-size: 120%; }

iframe#duo_iframe {
    width: 100%;
    min-width: 304px;
    max-width: 620px;
    height: 330px;
    margin: 0 auto;
    border-width: 0;
    background: #777;
}

#duo_helpbox {
    display: inline-block;
}

#duo_container {
    min-width: 870px;
}

.clearfloat {
    clear: both;
}
